<!-- /public/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link
      href="https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@400;500&family=Poppins:wght@100;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Email Scheduling Service</title>
</head>
<body>
    <header>
        <a class="" href="#">Email Scheduling Service</a>
    </header>
    <nav class="center desktop">
        <a href="#">Login</a>
        <a href="#">Register</a>
    </nav>
</body>
</html>
